# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\camunda-2\external-task-python3-second\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
